<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.qtkitserver</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.qtkitserver</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/QTKit.framework/Resources/QTKitServer</string>
	</array>
</dict>
</plist>
