<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>codecType</key>
		<string>icod</string>
		<key>identifier</key>
		<string>QTCompressionOptionsLosslessAppleIntermediateVideo</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAACCnNlYW4AAAABAAAAAgAAAAAAAAHidmlkZQAAAAEAAAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAaWNvZAAAAAAAGAAAAgAAAAAgdHBybAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAFxjZGVjAAAAAQAAAAAAAAAAZG9jaQQAAAAAAAAAY2xjbgEAAQABAAEABAAAAAMAAACIBQAAAQAAACYEAAABAAAAAAAAAAEAAAAAAAAAAQAAAAEAAQAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAbAAEAAAAAABRpc2l6AAAAAQAAAAAAAAAA</data>
		<key>vtCompressionProperties</key>
		<dict/>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>codecType</key>
		<string>rle </string>
		<key>identifier</key>
		<string>QTCompressionOptionsLosslessAnimationVideo</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEAAAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAcmxlIAAAAAAAAAAABAAAAAAgdHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAAAQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAbAAEAAAAAABRpc2l6AAAAAQAAAAAAAAAA</data>
		<key>vtCompressionProperties</key>
		<dict/>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>codecType</key>
		<string>avc1</string>
		<key>height</key>
		<real>480</real>
		<key>identifier</key>
		<string>QTCompressionOptionsSD480SizeH264Video</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAABrnNlYW4AAAABAAAAAgAAAAAAAAGGdmlkZQAAAAEAAAAOAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAAAAAAgQAAAAgdHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAAAAAAAAAAAAMAGwABAAAAAAAUaXNpegAAAAEAAAAAAAAAAA==</data>
		<key>vtCompressionProperties</key>
		<dict>
			<key>AllowFrameReordering</key>
			<true/>
			<key>AllowTemporalCompression</key>
			<true/>
		</dict>
		<key>width</key>
		<real>720</real>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>codecType</key>
		<string>avc1</string>
		<key>height</key>
		<integer>240</integer>
		<key>identifier</key>
		<string>QTCompressionOptions240SizeH264Video</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAABrnNlYW4AAAABAAAAAgAAAAAAAAGGdmlkZQAAAAEAAAAOAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAAAAAAgQAAAAgdHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAAAAAAAAAAAAMAGwABAAAAAAAUaXNpegAAAAEAAAAAAAAAAA==</data>
		<key>vtCompressionProperties</key>
		<dict>
			<key>AllowFrameReordering</key>
			<true/>
			<key>AllowTemporalCompression</key>
			<true/>
		</dict>
		<key>width</key>
		<integer>320</integer>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>codecType</key>
		<string>avc1</string>
		<key>height</key>
		<real>120</real>
		<key>identifier</key>
		<string>QTCompressionOptions120SizeH264Video</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAABrnNlYW4AAAABAAAAAgAAAAAAAAGGdmlkZQAAAAEAAAAOAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAAAgQAAAAgdHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAAAAAAAAAAAAMAHAABAAAAAAAUaXNpegAAAAEAAAAAAAAAAA==</data>
		<key>vtCompressionProperties</key>
		<dict>
			<key>AllowFrameReordering</key>
			<true/>
			<key>AllowTemporalCompression</key>
			<true/>
		</dict>
		<key>width</key>
		<real>160</real>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>480</real>
		<key>identifier</key>
		<string>QTCompressionOptionsSD480SizeMPEG4Video</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEAAAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAgdHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAVbW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABsAAQAAAAAAFGlzaXoAAAABAAAAAAAAAAA=</data>
		<key>vtCompressionProperties</key>
		<dict/>
		<key>width</key>
		<real>720</real>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<integer>240</integer>
		<key>identifier</key>
		<string>QTCompressionOptions240SizeMPEG4Video</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEAAAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAgdHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAVbW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABsAAQAAAAAAFGlzaXoAAAABAAAAAAAAAAA=</data>
		<key>vtCompressionProperties</key>
		<dict/>
		<key>width</key>
		<integer>320</integer>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>codecType</key>
		<string>mp4v</string>
		<key>height</key>
		<real>120</real>
		<key>identifier</key>
		<string>QTCompressionOptions120SizeMPEG4Video</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>0</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAAB93NlYW4AAAABAAAAAgAAAAAAAAHPdmlkZQAAAAEAAAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAgAAAAAgdHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAAEljZGVjAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXNlYW4AAAABAAAAAQAAAAAAAAAVbW9kZQAAAAEAAAAAAAAAAAIAAAAcdmVycwAAAAEAAAAAAAAAAAADABsAAQAAAAAAFGlzaXoAAAABAAAAAAAAAAA=</data>
		<key>vtCompressionProperties</key>
		<dict/>
		<key>width</key>
		<real>160</real>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>asbd</key>
		<data>AAAAAAAAAABhYWMgAAAAAAAAAAAAAAQAAAAAAAAAAAIAAAAAAAAAAA==</data>
		<key>channelLayout</key>
		<data>AGUAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=</data>
		<key>codecType</key>
		<string>aac </string>
		<key>identifier</key>
		<string>QTCompressionOptionsHighQualityAACAudio</string>
		<key>mediaType</key>
		<string>soun</string>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>asbd</key>
		<data>QNWIgAAAAABhYWMgAAAAAAAAAAAAAAQAAAAAAAAAAAIAAAAAAAAAAA==</data>
		<key>channelLayout</key>
		<data>AGUAAgAAAAAAAAAA</data>
		<key>codecType</key>
		<string>aac </string>
		<key>identifier</key>
		<string>QTCompressionOptionsVoiceQualityAACAudio</string>
		<key>mediaType</key>
		<string>soun</string>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>asbd</key>
		<data>AAAAAAAAAABhbGFjAAAAAAAAAAAAABAAAAAAAAAAAAIAAAAAAAAAAA==</data>
		<key>channelLayout</key>
		<data>AGUAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=</data>
		<key>codecType</key>
		<string>alac</string>
		<key>identifier</key>
		<string>QTCompressionOptionsLosslessALACAudio</string>
		<key>magicCookie</key>
		<data>AAAADGZybWFhbGFjAAAAJGFsYWMAAAAAAAAQAAAgKAoOAgD/AACgAQAAAAAABdwAAAAACAAAAAA=</data>
		<key>mediaType</key>
		<string>soun</string>
	</dict>
	<dict>
		<key>isPublic</key>
		<true/>
		<key>codecType</key>
		<string>jpeg</string>
		<key>identifier</key>
		<string>QTCompressionOptionsJPEGVideo</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEAAAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAanBlZwAAAAAAAAAAAxIAAAAgdHBybAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAAAQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6AAAAAQAAAAAAAAAA</data>
		<key>vtCompressionProperties</key>
		<dict/>
	</dict>
	<dict>
		<key>isPublic</key>
		<false/>
		<key>vtCompressionProperties</key>
		<dict>
			<key>AllowFrameReordering</key>
			<true/>
			<key>AllowTemporalCompression</key>
			<true/>
		</dict>
		<key>codecType</key>
		<string>avc1</string>
		<key>identifier</key>
		<string>QTCompressionOptionsPrivateH264Video</string>
		<key>mediaType</key>
		<string>vide</string>
		<key>sizeMode</key>
		<integer>1</integer>
		<key>standardCompressionData</key>
		<data>AAAAAAAAAAAAAAAAAAABwnNlYW4AAAABAAAAAgAAAAAAAAGadmlkZQAAAAEAAAAPAAAAAAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAAAgAAAAAgdHBybAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAABAAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABRjZGVjAAAAAQAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAcAAEAAAAAABRpc2l6AAAAAQAAAAAAAAAA</data>
	</dict>
</array>
</plist>
